@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Orbitron:wght@700&display=swap');

*{
   box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color:linear-gradient(to bottom,#f1f4f9,#dff1ff);
    color:black;
    font-family: 'Anek Latin', sans-serif;
}

header {
  margin-left:750px;
  font-size: 40px;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: minmax(120px, auto) repeat(6, 50px);
  min-height: 100vh;
  
}
  
#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 500px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    box-shadow: 0 10px 14px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid black;
    background-color: #191D1F;
  }
  
  #result-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.7em;
    width:270px;
    height:80px;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(39, 44, 117, 0.37);
    margin-bottom: 370px;
    background-color: #C6DAD0;
    overflow: hidden;
    border: 1px solid black;
  }

  #keyboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 12px;
    position:absolute;
    margin-top: 600px;
    margin-bottom: 500px;
    
  }

  #igual {
    grid-column: span 4;
    box-shadow: 0 5px 5px 0 rgba(28, 29, 51, 0.6);
  
  }

  #zero,#um,#dois,#três,#quatro,#cinco,#seis,#sete,#oito,#nove,#mais,#menos,#vezes,#dividindo,#decimal,#limpar{
    box-shadow: 0 5px 5px 0 rgba(28, 29, 51, 0.6);
    
  }

  button{
    cursor:pointer;
    font-size:14px;
    border-radius: 10px;
  }